//main-container全局样式
.app-container {
	// padding: 0 10px;
	// background-color: #fff
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}


// 标签tab区域
.tags-view-wrapper {
	.tags-view-item {
		.el-icon-close {
			width: 16px;
			height: 16px;
			vertical-align: 2px;
			border-radius: 50%;
			text-align: center;
			transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
			transform-origin: 100% 50%;

			&:before {
				transform: scale(0.6);
				display: inline-block;
				vertical-align: -3px;
			}

			&:hover {
				background-color: #b4bccc;
				color: #fff;
			}
		}
	}
}

.scroll-container {
	padding-top: 3px;
}


// 表格样式
.elDialog .el-input {
	// width: 220px;
}

.elDialog .el-form--inline .el-form-item {
	width: 100%;
}

.elDialog .el-form-item__content {
	width: calc(100% - 120px);
}

.elDialog .el-date-editor.el-input,
.elDialog .el-date-editor.el-input__inner {
	width: 100% !important;
}

.el-date-editor--datetimerange.el-input,
.el-date-editor--datetimerange.el-input__inner {
	width: 220px;
}

.elDialog .el-select {
	width: 100%;
}

.elDialog .el-autocomplete {
	width: 100%;
}


// 主列表页面 顶部区域
.a-c-top {
	margin-top: 10px;
	background-color: #fff;
	border-radius: 4px;
	padding: 0 10px;
	padding-top: 20px;
	// padding-bottom: 10px;
}

.a-c-top .el-menu {
	background-color: none;
	margin-top: -20px;
}

.a-c-t-btnarea {
	margin-left: 30px;
	display: inline-block
}

.a-c-top .el-tabs {
	margin-top: -20px;
}

.a-c-top .el-form-item {
	margin-bottom: 20px !important;
}

.a-c-top .a-c-t-list {
	margin-bottom: 20px;
}

.a-c-top .a-c-t-list:last-child {
	margin: 0;
}

.a-c-t-btnarea .el-form-item {
	// margin-bottom: 0 !important;
}

.a-c-bottom {
	margin-top: 10px;
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-right: 30px;
	padding-left: 30px;

	border-radius: 4px;
}

// .a-c-top .el-select {
//   width: 210px !important;
// }

// .a-c-top .el-form-item--medium .el-form-item__content {
//   width: 210px !important;
// }

// .a-c-t-btnarea .el-form-item {
//   width: auto !important;
// }


.app-mall-container {
	margin-top: 10px;
}

.app-mall-container .el-menu {
	width: 128px !important;
	border: none;
	border-radius: 4px;
	margin-right: 15px;
}

.app-mall-container .a-m-c-right {
	height: 100%;
}

.app-mall-container .a-m-c-right .a-m-c-l-top {
	background-color: #fff;
	border-radius: 4px;
	// padding-bottom: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
}

.app-mall-container .a-m-c-right .a-m-c-l-bottom {
	background-color: #fff;
	padding: 10px 10px;
	border-radius: 4px;
	padding-bottom: 20px;
}


// 主列表tab使用el-menu的情况
.resultEntry .el-menu {
	border: none;
	margin-top: 10px;
	border-radius: 4px;
}


// 部分主页面 通过组件引入的形式
.app-components {
	margin-top: 10px;

}

.app-components .el-tabs__header {
	margin-bottom: 0;
	background-color: #fff;
	padding: 0 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding-bottom: 10px;
}

.app-components .app-container .a-c-top {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.app-components .app-container .a-c-top .a-c-t-btnarea {
	margin-left: 30px;
	display: inline-block
}


// 主界面使用tab的情况
.app-tabs .el-tabs {
	margin-top: 10px;
}

.app-tabs .el-tabs .el-tabs__header {
	margin-bottom: 0;
	background-color: #fff;
	padding: 0 10px;
}

.app-tabs .a-c-top {
	padding-top: 20px;
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.a-c-moretab .el-tab {
	margin-top: 0 !important;

}

.a-c-moretab .el-tabs__header {
	background-color: #fff;
	margin-bottom: 0;
	padding: 0 10px;
}

.a-c-moretab .a-c-top {
	margin-top: 0;
	padding-top: 10px;
}





.components-container {
	margin: 30px 50px;
	position: relative;
}

.pagination-container {
	margin-top: 30px;
}

.text-center {
	text-align: center
}

.sub-navbar {
	height: 50px;
	line-height: 50px;
	position: relative;
	width: 100%;
	text-align: right;
	padding-right: 20px;
	transition: 600ms ease position;
	background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

	.subtitle {
		font-size: 20px;
		color: #fff;
	}

	&.draft {
		background: #d0d0d0;
	}

	&.deleted {
		background: #d0d0d0;
	}
}

.link-type,
.link-type:focus {
	color: #337ab7;
	cursor: pointer;

	&:hover {
		color: rgb(32, 160, 255);
	}
}

.filter-container {
	padding-bottom: 10px;

	.filter-item {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 10px;
	}
}

//refine vue-multiselect plugin
.multiselect {
	line-height: 16px;
}

.multiselect--active {
	z-index: 1000 !important;
}

// dialog弹框 相关

.el-dialog__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.el-dialog {
	// width: 75%;
	border-radius: 4px;
	padding-top: 50px;
	margin: 0 auto !important;
	overflow-y: hidden;
	padding-bottom: 70px;
	max-height: 80%;
	display: flex;
	margin-right: 80%;
	flex-direction: column;
}

.el-dialog__body {
	height: 80%;

	// padding: 0;
	// z-index: 1;
	overflow: hidden;
	overflow-y: scroll;
}

.el-dialog__header {
	width: 100%;
	position: absolute;
	height: 50px;
	top: 0;
	background-color: #fff;

}


//.el-dialog__body::-webkit-scrollbar {
//	display: block;
//	/*隐藏滚动条*/
//}

.el-dialog__footer {
	height: 60px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	z-index: 11;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.el-dialog__title {

	font-size: 20px;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: bold;
	color: #333;

}

.el-dialog--center .el-dialog__body {
	padding: 13px 25px 30px;
}

// 弹框内容 中线条tab样式修改
.el-dialog__body .el-tabs__nav-wrap::after {
	background: none !important;
}

// 弹框内容中卡片tab样式修改

// .el-dialog__body .el-tabs--card > .el-tabs__header{
//   border: none;
// }
// .el-dialog__body .el-tabs--card > .el-tabs__header .el-tabs__nav{
//   border: none;
// }
// .el-dialog__body .el-tabs--card > .el-tabs__header .el-tabs__item{
//   border: none;
// }

// .el-dialog__body .el-tabs__item.is-active{
//   background-color: #F7F9FC;
// }


// ant btn样式
.ant-btn-primary {
	margin-bottom: 5px;
	margin-right: 10px;
}






// 报告查看pdf弹框相关样式

.pdflog .el-dialog {
	height: 100vh !important;
}

.pdflog .el-dialog .el-dialog__body {
	height: 100% !important;
}

.pdflog .el-dialog .el-dialog__body ::-webkit-scrollbar {
	width: 0;
}

.area {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: relative;
}

.areaLeft {
	width: 30%;
	height: 100%;
	overflow: auto;
}

.areaLeft ::-webkit-scrollbar {
	width: 0;
}

.areaRight {
	width: 70%;
	height: 100%;
	overflow: auto;
	position: absolute;
	top: 0;
	right: 0;
}

.areaRight ::-webkit-scrollbar {
	width: 0;
}
